body{
    margin: 0;
    padding: 0;
    display: block;
    font-family: "American Typewriter", serif;
    font-size: 40px;
}

#main-body {
    border-radius: 15px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    display: flex;
    flex-direction: column;
    /* width: 408px;
    height: 740px; */
    width: 23%;
    height: 75%;
    margin: auto;
    margin-top:5%;
    /* background-color: #1CFEBA; */
    background-color: #41463D;
}

.number-button {
    height: 100px;
    width: 30%;
    margin: 8px;
    border-radius: 10px;
    font-size: 40px;
    background-color: #B8CDF8;
}

.operator-button {
    height: 100px;
    width: 30%;
    margin: 8px;
    font-size: 40px;
    border-radius: 10px;
    background-color: #9D8DF1;
}

.button-row {
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    width: 100%;
}

#screen {
    /* width: 400px; */
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    overflow: hidden;
    color: white;
    background-color: #9D8DF1;
}

#separator {
    background-color: black;
    color: black;
    height: 5px;
    width: 100%;
}